{
  "swagger" : "2.0",
  "info" : {
    "description" : "This API manages the product order resource. It enables the retrieval of product orders and order items, along with their prices, promotions, immediate pay options, related party, terms, channel, and the configuration of ordered items. In addition, the API enables to create, delete, and modify product orders, and to add, delete, and modify order items of a product order.\n  ###### Compliant with TMF622_Product_Ordering_Management_API_REST_Specification_R17.5.0\n",
    "version" : "2.1",
    "title" : "Product Ordering Management",
    "contact" : {
      "name" : "Amdocs Inc.",
      "url" : "http://www.amdocs.com",
      "email" : "support@amdocs.com"
    },
    "license" : {
      "name" : "Amdocs Inc.",
      "url" : "http://www.amdocs.com"
    },
    "x-amdocs" : {
      "exposed" : "public",
      "service-principals" : [ "productorder-validateorder-app-id", "productorder-submitorder-app-id", "productorder-productorder-app-id", "productorder-price-app-id", "productorder-deliverproductorder-app-id" ]
    }
  },
  "host" : "amdocs.com",
  "basePath" : "/productOrdering/v2.1",
  "tags" : [ {
    "name" : "productOrder"
  }, {
    "name" : "orderItem"
  }, {
    "name" : "deliveryMethod"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/productOrder" : {
      "post" : {
        "tags" : [ "productOrder" ],
        "summary" : "Create a product order",
        "description" : "This operation creates a product order entity with one or more items.\n\nIf the system is configured to accept partial configuration, then the given order items represent additions to the default configuration of the product offerings. Otherwise, the order items are created as-is. If an order item is set only with the *productOffering.id*, the created order item represent the default configuration for that product offering.\n\n\n###### TMF OpenAPI compliant\n\n**Mandatory&#58;**\n- *orderItem.productOffering*\n- *product.id* (unless *orderItem* represents a Provide action)\n- *orderItem.action*\n\n**Readonly&#58;**\n- *orderItem.metadata*\n- *orderItem.characteristic.metadata*\n- *orderItem.product.metadata*\n- *orderItem.product.characteristic.metadata*\n- *orderItem.itemTerm.metadata*\n\n**Business rules&#58;**\n- *modifyReason* (action must match the *orderItem.action*)\n- *relatedParty* (only one *relatedRarty* with role = Customer and Customer status is Active)\n- *billingAccount* (*relatedParty* with role = Customer is a prerequisite, it must be associated with the same Customer)\n- *product* (*primaryProductId* and *productOrderRef* are mutually exclusive)\n\n**Reference values&#58;**\n- *action* (*ProductOfferingConfiguration&#58; actionsPerCalculatedKeyTable.actionsPerCalculatedKeyMap*)\n- *modifyReason.name* (*ProductOfferingConfiguration&#58; modifyReasonsTable.modifyReasonsPerAction*)\n- *channel* (*ApplicationContext*)\n- *relatedParty.role* = Customer (*Configuration&#58; relatedPartyCustomerRole*)\n- *relatedParty.status* = Active (*Configuration&#58; customerValidatorValidStatusValues*)\n- Fail if product offering is out-of-stock (*Configuration&#58; configuration.stockManagement.blockOrderItemIfOutOfStock*)\n- *noteType* (*Configuration&#58; configuration.note.productOrder.productOrderNoteTypes* | *configuration.note.orderItem.orderItemNoteTypes*)\n- System configured to accept partial configuration (*Configuration&#58; partialConfigurationMode*)\n",
        "operationId" : "createProductOrder",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mask",
          "in" : "query",
          "description" : "Query mask, which is a set of flags that impact the returned fields.\nThe supported values are&#58;\n- *returnAttachments* - Once set, the API returns additional attachment information for the product offering and product offering terms.\n- *returnStockInformation* - Once set, the stock availability information is retrieved from the stock management system.\n- *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n- *returnNote* - Once set, notes associated with ProductOrder and/or OrderItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "in" : "body",
          "name" : "ProductOrder",
          "description" : "Product order entity with one or more order items\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProductOrder"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "*Created* - The product order was created successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "*Forbidden* - The server refuses to apply the request because the client does not have access rights to the content.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "502" : {
            "description" : "*Bad Gateway* - The server encountered an unexpected condition when calling another service.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_create", "D1_ProductOrdering_bulkCreate" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}" : {
      "get" : {
        "tags" : [ "productOrder" ],
        "summary" : "Retrieve a product order",
        "description" : "This operation retrieves a product order entity.\n\n###### TMF OpenAPI compliant\n\n**Business rules&#58;**\n- *boundedPrice* (when the product order state is Draft)\n\n**Reference values&#58;**\n- *noteType* (*Configuration&#58; configuration.note.productOrder.productOrderNoteTypes* | *configuration.note.orderItem.orderItemNoteTypes*)\n",
        "operationId" : "getProductOrder",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This parameter specifies the fields to be retrieved in response to a request from the client&#58;\nThe list of resource attributes must be comma-separated.\nNested resource attributes can be specified using the dot notation, as follows&#58;\n[parentresource].[childresource].[attributeName]\nA subselector can be specified to request a subset of nested resource attributes for arrays or objects, as follows&#58;\n[resource]([attributeName], �, [attributeName])\nA wildcard can be specified to request all attributes of nested resources, as follows&#58;\n[resource]/*If fields is specified with reserved value �none�, then no fields MUST be returned.\nIf no specific set of fields is specified, all fields MUST be returned. \n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "minLength" : 0
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "mask",
          "in" : "query",
          "description" : "Query mask, which is a set of flags that impact the returned fields.\nThe supported values are&#58;\n- *returnAttachments* - Once set, the API returns additional attachment information for the product offering and product offering terms.\n- *returnStockInformation* - Once set, the stock availability information is retrieved from the stock management system.\n- *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n- *returnNote* - Once set, notes associated with ProductOrder and/or OrderItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "boundedPrice",
          "in" : "query",
          "description" : "Indicates whether to recalculate the product order price or to return the previously calculated price.\nThis indication is relevant only for product orders in a Draft state.\n",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product order was retrieved successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "206" : {
            "description" : "*Partial Content* - The product order was retrieved partially.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_retrieve", "D1_ProductOrdering_bulkRetrieve" ],
          "private-roles" : [ "D1P_ProductOrdering_read", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/manageRelatedParty" : {
      "post" : {
        "tags" : [ "productOrder" ],
        "summary" : "Manage association of a related party with a product order",
        "description" : "This operation manages the association of the product order entity with a related party.\n\n**Mandatory&#58;**\n- *relatedPartyId* (when action = replace | remove)\n- *role* (when action = replace | remove)\n- *RelatedPartyRef* (when action = add | replace)\n- *RelatedPartyRef.role* (when action = add | replace)\n- *RelatedParty.id* (when *role* = Customer)\n\n**Business rules&#58;**\n- Product order state is Draft\n- *relatedRarty.role* is unique\n- Customer status is Active (when *role* = Customer)\n\n**Reference values&#58;**\n- *role* (*Configuration&#58; configuration.relatedParty.addRelatedPartyAllowedRoles* | *replaceRelatedPartyAllowedRoles* | *removeRelatedPartyAllowedRoles*)\n- *action* (*Configuration&#58; configuration.relatedParty.validManageRelatedPartyActions*)\n",
        "operationId" : "manageProductOrderRelatedParty",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Amdocs-Client-Id",
          "in" : "header",
          "description" : ".\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "relatedPartyId",
          "in" : "query",
          "description" : "Unique identifier of the related party\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Role of the related party\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "Required action - add, replace, or remove\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This parameter specifies the fields to be retrieved in response to a request from the client&#58;\nThe list of resource attributes must be comma-separated.\nNested resource attributes can be specified using the dot notation, as follows&#58;\n[parentresource].[childresource].[attributeName]\nA subselector can be specified to request a subset of nested resource attributes for arrays or objects, as follows&#58;\n[resource]([attributeName], �, [attributeName])\nA wildcard can be specified to request all attributes of nested resources, as follows&#58;\n[resource]/*If fields is specified with reserved value �all�, then all fields MUST be returned.\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "minLength" : 0
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "in" : "body",
          "name" : "RelatedPartyRef",
          "description" : "The related party associated with the product order.\n",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RelatedPartyRef"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The association of the related party with the product order was updated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_manageRelatedParty" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/manageBillingAccount" : {
      "post" : {
        "tags" : [ "productOrder" ],
        "summary" : "Manage association of a billing account with order entities",
        "description" : "This operation manages the distribution of the product order entity charges to billing accounts.\nThe supported entities that can be associated with a billing account are&#58; product order, order item, or order item price.\n\n**Mandatory&#58;**\n- *action* (when associating product order)\n- *billingAccount* (when associating product order and action = add | replace | remove)\n- *orderItem.id* (when associating order item | order item price)\n- *orderItem.action* (when associating order item)\n- *orderItem.billingAccount* (when associating order item and action = add | replace | remove )\n- *orderItem.itemPrice.id* (when associating order item price)\n- *orderItem.itemPrice.action* (when associating order item price)\n- *orderItem.itemPrice.billingAccount* (when associating order item price and action = add | replace | remove)\n\n**Business rules&#58;**\n- Product order state is Draft\n\n**Reference values&#58;**\n- *action* (*Configuration&#58; configuration.billingAccount.validManageBillingAccountActions*)\n",
        "operationId" : "manageBillingAccountRelation",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This parameter specifies the fields to be retrieved in response to a request from the client&#58;\nThe list of resource attributes must be comma-separated.\nNested resource attributes can be specified using the dot notation, as follows&#58;\n[parentresource].[childresource].[attributeName]\nA subselector can be specified to request a subset of nested resource attributes for arrays or objects, as follows&#58;\n[resource]([attributeName], �, [attributeName])\nA wildcard can be specified to request all attributes of nested resources, as follows&#58;\n[resource]/*If fields is specified with reserved value �all�, then all fields MUST be returned.\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "minLength" : 0
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "in" : "body",
          "name" : "ProductOrderBillingAccountRelation",
          "description" : "The association of the product order with a billing account\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProductOrderBillingAccountRelation"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The association of the billing account with the product order was updated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_manageBillingAccount" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/orderItem/deliveryMethod" : {
      "get" : {
        "tags" : [ "deliveryMethod" ],
        "summary" : "Retrieve order items related to a delivery method",
        "description" : "This operation retrieves the following entities&#58;\n- Order item entities that represent a product offering requiring a delivery method. The delivery method is defined on the related product offering.\n- Existing order item entities that represent a product offering that stands for those delivery methods. The definition of Delivering/Requires Delivery is based on a configurable product offer characteristic.\n\n**Business rules&#58;**\n- Product order state is Draft\n\n**Reference values&#58;**\n- require (*Configuration&#58; configuration.deliveryMethod*)\n- Delivering characteristic (*Configuration&#58; configuration.shippingOptions*)\n",
        "operationId" : "getDeliveryMethodOrderItem",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mask",
          "in" : "query",
          "description" : "Query mask, which is a set of flags that impact the returned fields.\nThe supported values are&#58;\n- *returnAttachments* - Once set, the API returns additional attachment information for the product offering and product offering terms.\n- *returnStockInformation* - Once set, the stock availability information is retrieved from the stock management system.\n- *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n- *returnNote* - Once set, notes associated with ProductOrder and/or OrderItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The order items related to the delivery method were retrieved successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_retrieve" ],
          "private-roles" : [ "D1P_ProductOrdering_read", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/orderItem/{orderItemId}/manageRelatedParty" : {
      "post" : {
        "tags" : [ "orderItem" ],
        "summary" : "Manage the related party association with order items",
        "description" : "This operation manages the association of product(s) (related to the order item entity) with a related party.\n\n**Mandatory&#58;**\n- *nestedOrderItemId* (when the associated order item/s is/are not top-most)\n- *relatedPartyId* (when action = replace | remove)\n- *role* (when action = replace | remove)\n- *RelatedPartyRef* (when action = add | replace)\n- *RelatedPartyRef.role* (when action = add | replace)\n\n**Business rules&#58;**\n- Product order state is Draft\n- *relatedParty* (only one *relatedRarty* per role)\n- *role* = Customer (customer status is Active)\n\n**Reference values&#58;**\n- *role* (*Configuration&#58; configuration.relatedParty.addManageOrderItemRelatedPartyAllowedRoles* | *replaceManageOrderItemRelatedPartyAllowedRoles* | *removeManageOrderItemRelatedPartyAllowedRoles*)\n- *action* (*Configuration&#58; configuration.relatedParty.validManageRelatedPartyActions*)\n",
        "operationId" : "manageOrderItemRelatedParty",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "orderItemId",
          "in" : "path",
          "description" : "Unique identifier of the order item\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "nestedOrderItemId",
          "in" : "query",
          "description" : "Unique identifiers of the nested order items\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "minItems" : 1
        }, {
          "name" : "relatedPartyId",
          "in" : "query",
          "description" : "Unique identifier of the related party\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "role",
          "in" : "query",
          "description" : "Role of the related party\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "action",
          "in" : "query",
          "description" : "Required action - add, replace, or remove\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This parameter specifies the fields to be retrieved in response to a request from the client&#58;\nThe list of resource attributes must be comma-separated.\nNested resource attributes can be specified using the dot notation, as follows&#58;\n[parentresource].[childresource].[attributeName]\nA subselector can be specified to request a subset of nested resource attributes for arrays or objects, as follows&#58;\n[resource]([attributeName], �, [attributeName])\nA wildcard can be specified to request all attributes of nested resources, as follows&#58;\n[resource]/*If fields is specified with reserved value �all�, then all fields MUST be returned.\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string",
            "minLength" : 0
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "excludePrices",
          "in" : "query",
          "description" : "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n",
          "required" : false,
          "type" : "boolean",
          "default" : true
        }, {
          "in" : "body",
          "name" : "RelatedPartyRef",
          "description" : "The related party associated with the order item.\n",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RelatedPartyRef"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The association of the related party with the product order item was updated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-productorder-service",
          "public-roles" : [ "D1_ProductOrdering_update" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/validate" : {
      "post" : {
        "tags" : [ "productOrder" ],
        "summary" : "Validate a product order",
        "description" : "This operation performs business validations on the product order entity.\nThe validations performed are dependent on the *stage* and *validationType* parameters.\n\n**Reference values&#58;**\n- *stage* (*Configuration&#58; configuration.defaultValidationStage*)\n- *validationType* (*Configuration&#58; validators.types | defaultValidators*)\n- *channel* (*ApplicationContext*)\n",
        "operationId" : "validateProductOrder",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "stage",
          "in" : "query",
          "description" : "Validation stage, in terms of the product order lifecycle (for example: *orderValidation*, *orderSubmit*, and so on).\nThis value defines the default validations to be performed, if none were set.\nThis value is passed to other systems down the stream, which might use it to refine the executed validation rules, and so on.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "validationType",
          "in" : "query",
          "description" : "Validation types to be performed. If not provided, the default (configurable) validations are performed.\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product order was validated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "502" : {
            "description" : "*Bad Gateway* - The server encountered an unexpected condition when calling another service.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-validateorder-service",
          "public-roles" : [ "D1_ProductOrdering_validate" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/submit" : {
      "post" : {
        "tags" : [ "productOrder" ],
        "summary" : "Set the state of a product order to Submitted",
        "description" : "This operation sets the state of the product order entity to Submitted.\nThe operation supports the following configurable preliminary options&#58;\n- Validate the product order entity. Thus, failing the operation upon specific configuration validation statuses.\n- Evaluate promotions and/or calculate the price of the product order entity. Thus, failing the operation upon withdrawn promotions and/or missing prices.\n- Evaluate installment options of the relevant order item entities. Thus, failing the operation upon installments restored to the default.\n- Evaluate stock reservation | availability of the relevant order item entities. Thus, failing the operation upon reservation failure | out-of-stock.\n\n*The returned product order entity is partly populated, to reflect only validation messages.*\n\n**Business rules&#58;**\n- Product order state is Draft\n- waivePONR can be set by consumer with specific roles\n\n**Reference values&#58;**\n- Submitted state (*Configuration&#58; configuration.productOrder.state.submitted*)\n- Validation types (*Configuration&#58; configuration.submitOrder.validationTypes*)\n- Validation statuses to fail upon (*Configuration&#58; configuration.submitOrder.validationFailureStatus*)\n- Evaluate promotions and/or calculate price (*Configuration&#58; configuration.submitOrder.shouldValidatePromotionsAndPrices*)\n- Fail upon price failure (*Configuration&#58; configuration.submitOrder.shouldFailOperationUponPricingFailure*)\n- Fail upon withdrawn promotions (*Configuration&#58; configuration.submitOrder.shouldFailOperationUponPromotionWithdrawn*)\n- Evaluate installment options (*Configuration&#58; configuration.submitOrder.shouldValidateInstallmentReset*)\n- Fail upon restored installments (*Configuration&#58; configuration.submitOrder.shouldFailOperationUponInstallmentReset*)\n- Stock reservation evaluation type (*Configuration&#58; configuration.stockManagement.stockReservationMode*)\n- Fail upon stock error (*Configuration.stockManagement.stockErrorSubmitAllowed*)\n- Waive PONR roles (*Configuration&#58; configuration.amend.ponr.waive.roles | configuration.amendCancel.ponr.waive.roles*)\n",
        "operationId" : "submitProductOrder",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "waivePONR",
          "in" : "query",
          "description" : "Indicates if the 'point of no return' validation should be waived for amended order items\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product order was submitted successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrder"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "502" : {
            "description" : "*Bad Gateway* - The server encountered an unexpected condition when calling another service.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-submitorder-service",
          "public-roles" : [ "D1_ProductOrdering_submit", "D1_ProductOrdering_bulkSubmit" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/orderItem/{orderItemId}/managePhoneNumberProduct" : {
      "post" : {
        "tags" : [ "orderItem" ],
        "summary" : "Manage the phone number characteristic",
        "description" : "This operation manages the phone number characteristic of the order item.\nIn case a temporary phone number is provided, it is allocated until the port-in activity is completed.\n\n**Mandatory&#58;**\n- *portedNumber* (when *isPortIn* = true)\n- *phoneNumber* (when *isPortIn* = false)\n\n**Business rules&#58;**\n- Product order state is Draft\n- Validation against external system is performed (when *isPortIn* = true) \n- *phoneNumber* is set to a temporary number (provided in response or allocated from resource allocation domain)\n\n**Reference values&#58;**\n- Allocate temporary number if not set (*Configuration&#58; configuration.useTemporaryNumberPortInFlow*)\n",
        "operationId" : "managePhoneNumberProduct",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "orderItemId",
          "in" : "path",
          "description" : "Unique identifier of the order item\n",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "managePhoneNumberProduct",
          "description" : "Phone number of the product that is validated and updated when there is a port in activity\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PhoneNumberProduct"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The ported in product order item was updated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrderRef"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "502" : {
            "description" : "*Bad Gateway* - The server encountered an unexpected condition when calling another service.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-modifyorder-service",
          "public-roles" : [ "D1_ProductOrdering_managePhoneNumberProduct" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/manageDeliveryMethod" : {
      "post" : {
        "tags" : [ "deliveryMethod" ],
        "summary" : "Manage a delivery method",
        "description" : "This operation manages the order item entities that represent a Delivering product offering. Upon *add* or *replace* action, it connects the created or the updated order items to existing order items that represent a Requires Delivery product offering whose Shipping Option the created or the updated order item matches. The definition of Shipping Option and Requires Delivery options is based on a configurable product offering characteristic.\n\n**Business rules&#58;**\n- Product order state is Draft\n\n**Mandatory&#58;**\n- *deliveryMethodOrderItem.id* (when *deliveryMethodOrderItem.action* = replace | remove) \n- *deliveryMethodOrderItem.productOffering* (when *deliveryMethodOrderItem.action* = replace | add)\n\n**Reference values&#58;**\n- Requires Delivery product offering characteristic name define by metadata (*Configuration&#58; order.item.characteristic.name.delivery.method*)\n- Requires Delivery product offering characteristic value define by metadata (*Configuration&#58; order.item.characteristic.value.shipping* | *order.item.characteristic.value.pickup*)\n- Shipping Option characteristic name define by metadata (*Configuration&#58; order.item.characteristic.name.shipping.option*) \n- Delivery method relation type (*Configuration&#58; order.item.relationship.type.shipping* | *order.item.relationship.type.product*)\n",
        "operationId" : "manageDeliveryMethod",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "If-Match",
          "in" : "header",
          "description" : "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "DeliveryMethodProductOrder",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeliveryMethodProductOrder"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product order was updated successfully with the order items of the delivery method.\n",
            "schema" : {
              "$ref" : "#/definitions/ProductOrderRef"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "422" : {
            "description" : "*Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.\n",
            "schema" : {
              "$ref" : "#/definitions/ValidationError"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-deliverproductorder-service",
          "public-roles" : [ "D1_ProductOrdering_manageDeliveryMethod" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/productOrder/{productOrderId}/validateDeliveryMethod" : {
      "post" : {
        "tags" : [ "deliveryMethod" ],
        "summary" : "Validate a delivery method",
        "description" : "This operation performs business validations on order item entities. It verifies that each order item entity that represents a product offering that requires a delivery method is associated with an order item entity that represents a product offering that stands for the corresponding delivery method.\n\n**Business rules&#58;**\n- Product order state is Draft\n",
        "operationId" : "validateDeliveryMethodOrder",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "productOrderId",
          "in" : "path",
          "description" : "Unique identifier of the product order\n",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "ProductOrder",
          "description" : "Product order entity with one or more order items\n",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProductOrder"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product order items were validated successfully.\n",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-deliverproductorder-service",
          "public-roles" : [ "D1_ProductOrdering_validate" ],
          "private-roles" : [ "D1P_ProductOrdering_write", "FndP_APIGateway_gw" ]
        }
      }
    },
    "/deliveryMethodProductOffering" : {
      "get" : {
        "tags" : [ "deliveryMethod" ],
        "summary" : "Retrieve a list of product offerings that represent a delivery method",
        "description" : "This operation retrieves a list of product offerings that represent a delivery method. <br>The definition of Delivering and Requires Delivery options is based on a configurable product offering characteristic.\n\n **Mandatory&#58;**\n- *productOrderId* - this parameter should be set in order to  limited to Delivering product offerings that are related to order items that represent a Requires Delivery product offering.\n\n**Business rules&#58;**\n- Product order state is Draft\n\n**Reference values&#58;**\n- Delivering product offering type (*Configuration&#58; order.item.offering.type*)\n- Requires Delivery product offering characteristic name (*Configuration&#58; order.item.characteristic.name.delivery.method)*\n- Requires Delivery product offering characteristic value (*Configuration&#58; order.item.characteristic.value.shipping*)\n- Shipping Option characteristic name (*Configuration&#58; order.item.characteristic.name.shipping.option*) \n",
        "operationId" : "availableDeliveryMethodProductOffering",
        "consumes" : [ "application/json;charset=utf-8" ],
        "produces" : [ "application/json;charset=utf-8" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Locale of the client\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "productOrderId",
          "in" : "query",
          "description" : "Unique identifier of the product order\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "filters",
          "in" : "query",
          "description" : "Limit the returned entities only to those that match the specified values.\nThe supported values are:\n - *metadata.value*\n<i>Example&#58; filters=metadata.value==shipping,inCustomerHand</i>\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The list of fields by which the response is sorted. The supported value is: *price*.\nNote: The list of resource attributes must be comma-separated. The items are sorted according to the order of the fields listed in this parameter, from left to right. The default sorting order is ascending. To change the order to descending, the field must be specified with the minus (-) prefix. Nested resources attributes can be specified using the dot notation.\n",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "*OK* - The product offerings for the delivery method were retrieved successfully.\n",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/DeliveryProductOffering"
              }
            }
          },
          "400" : {
            "description" : "*Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "*Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "*Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "default" : {
            "description" : "*Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.\n",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "x-amdocs" : {
          "route-service" : "productorder-deliverproductorder-service",
          "public-roles" : [ "D1_ProductOrdering_retrieve" ],
          "private-roles" : [ "D1P_ProductOrdering_read", "FndP_APIGateway_gw" ]
        }
      }
    }
  },
  "definitions" : {
    "ProductOrder" : {
      "type" : "object",
      "required" : [ "orderItem" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier of the product order\n",
          "readOnly" : true
        },
        "href" : {
          "type" : "string",
          "description" : "Hypertext reference to the product order\n",
          "readOnly" : true
        },
        "category" : {
          "type" : "string",
          "description" : "Category of the product order, for example, Residential, Business, Bulk, and so on\n"
        },
        "subCategory" : {
          "type" : "string",
          "description" : "Sub category of the product order, for example, PreActivation, Suspend, and so on\n"
        },
        "priority" : {
          "type" : "string",
          "description" : "Priority of the product order\n"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the product order\n"
        },
        "state" : {
          "type" : "string",
          "description" : "State of the product order, for example, Acknowledged, Rejected, Pending, and so on\n",
          "readOnly" : true
        },
        "externalId" : {
          "type" : "string",
          "description" : "External ID of the product order. This parameter is usually provided by a consumer to identify the product order in the consumer system.\n"
        },
        "orderDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order was created\n",
          "readOnly" : true
        },
        "lastUpdate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order was last updated\n",
          "readOnly" : true
        },
        "completionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order was completed\n",
          "readOnly" : true
        },
        "requestedStartDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order was requested to be started\n"
        },
        "requestedCompletionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order was requested to be completed\n"
        },
        "expectedCompletionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order is expected to be completed\n",
          "readOnly" : true
        },
        "notificationContact" : {
          "type" : "string",
          "description" : "Contact for the notification\n"
        },
        "orderPriceDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the product order price was calculated\n",
          "readOnly" : true
        },
        "isCustomerVisible" : {
          "type" : "boolean",
          "description" : "Indicates whether the product order is visible to the customer\n",
          "readOnly" : true,
          "default" : true
        },
        "@type" : {
          "type" : "string",
          "description" : "Type of the resource - *ProductOrder*\n"
        },
        "relatedParty" : {
          "type" : "array",
          "description" : "Party associated with the product order\n",
          "items" : {
            "$ref" : "#/definitions/RelatedPartyRef"
          }
        },
        "billingAccount" : {
          "$ref" : "#/definitions/BillingAccountRef"
        },
        "orderItem" : {
          "type" : "array",
          "description" : "Active order item of the product order\n",
          "items" : {
            "$ref" : "#/definitions/OrderItem"
          }
        },
        "orderTotalPrice" : {
          "type" : "array",
          "description" : "Total price of the product order\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/OrderPrice"
          }
        },
        "channel" : {
          "type" : "array",
          "description" : "Channel of the product order\n",
          "items" : {
            "$ref" : "#/definitions/ChannelRef"
          }
        },
        "validation" : {
          "$ref" : "#/definitions/Validation"
        },
        "payment" : {
          "type" : "array",
          "description" : "Payment performed for the entire order or for an order item\n",
          "items" : {
            "$ref" : "#/definitions/PaymentRef"
          }
        },
        "immediatePromotion" : {
          "type" : "array",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/ImmediatePromotion"
          },
          "x-dox-DesignNote" : "Reference to the Immediate Promotions with details\n"
        },
        "externalIdentifier" : {
          "type" : "array",
          "description" : "List of external identifiers related to the product order\n",
          "items" : {
            "$ref" : "#/definitions/ExternalIdentifier"
          }
        },
        "orderRelationship" : {
          "type" : "array",
          "description" : "Relation to other product order resources\n",
          "items" : {
            "$ref" : "#/definitions/OrderRelationship"
          }
        },
        "note" : {
          "type" : "array",
          "description" : "Extra information about the product order\n",
          "items" : {
            "$ref" : "#/definitions/Note"
          }
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "ProductOrderExtensions"
          }
        }
      },
      "description" : "Product order resource\n"
    },
    "RelatedPartyRef" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier of the related party\n"
        },
        "href" : {
          "type" : "string",
          "description" : "Hypertext reference to the related party, could be a party reference or a party role reference\n"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the related party\n"
        },
        "role" : {
          "type" : "string",
          "description" : "Role played by the related party\n"
        },
        "@referredType" : {
          "type" : "string",
          "description" : "Name of the type of the referred resource entity\n"
        },
        "lastName" : {
          "type" : "string",
          "description" : "Last name of the related party\n"
        },
        "firstName" : {
          "type" : "string",
          "description" : "First name of the related party\n"
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "Phone number of the related party\n"
        },
        "emailAddress" : {
          "type" : "string",
          "description" : "emailAddress of the related party\n"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "RelatedPartyRefExtensions"
            }
          }
        }
      },
      "description" : "Party or party role that is linked to a specific entity\n"
    },
    "BillingAccountRef" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier of the billing account\n"
        },
        "href" : {
          "type" : "string",
          "description" : "Hypertext reference to the billing account\n"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the billing account\n"
        },
        "@referredType" : {
          "type" : "string",
          "description" : "Name of the type of the referred resource entity\n"
        }
      },
      "description" : "Reference to the billing account\n"
    },
    "OrderItem" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier of the order item\n",
          "readOnly" : true
        },
        "action" : {
          "type" : "string",
          "description" : "Action applied to the order item (for example - add, suspend, resume, terminate, and so on). If there are multiple actions, a semicolon (;) is used as the delimiter.\n"
        },
        "state" : {
          "type" : "string",
          "description" : "State of the order item\n",
          "readOnly" : true
        },
        "quantity" : {
          "type" : "integer",
          "description" : "Quantity of the order item. This property is relevant only for the top-most non-serialized order items.\n"
        },
        "@type" : {
          "type" : "string",
          "description" : "Type of the resource - *OrderItem*.\n"
        },
        "readOnly" : {
          "type" : "boolean",
          "description" : "Indicates whether the order item can be reconfigured\n",
          "readOnly" : true
        },
        "completionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the order item was completed\n",
          "readOnly" : true
        },
        "requestedStartDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the order item was requested to be started\n"
        },
        "requestedCompletionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the order item was requested to be completed\n"
        },
        "expectedCompletionDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Date on which the order item is expected to be completed\n",
          "readOnly" : true
        },
        "retroactiveChangeDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Past date of a retroactive change performed on the order item\n"
        },
        "creationDate" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Item creation date \n"
        },
        "itemPrice" : {
          "type" : "array",
          "description" : "Price of the order item\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/OrderPrice"
          }
        },
        "itemTotalPrice" : {
          "type" : "array",
          "description" : "Total price of the order item\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/OrderPrice"
          }
        },
        "orderItemRelationship" : {
          "type" : "array",
          "description" : "Relationship between order items\n",
          "items" : {
            "$ref" : "#/definitions/OrderItemRelationship"
          }
        },
        "productOffering" : {
          "$ref" : "#/definitions/ProductOfferingRef"
        },
        "product" : {
          "$ref" : "#/definitions/Product"
        },
        "billingAccount" : {
          "$ref" : "#/definitions/BillingAccountRef"
        },
        "appointment" : {
          "$ref" : "#/definitions/AppointmentRef"
        },
        "orderItem" : {
          "type" : "array",
          "description" : "List of order items\n",
          "items" : {
            "$ref" : "#/definitions/OrderItem"
          }
        },
        "productOfferingGroupOption" : {
          "$ref" : "#/definitions/ProductOfferingGroupOption"
        },
        "itemTerm" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OrderTerm"
          }
        },
        "modifyReason" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ModifyReason"
          }
        },
        "payment" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PaymentRef"
          }
        },
        "metadata" : {
          "type" : "array",
          "description" : "Product offering metadata\n",
          "items" : {
            "$ref" : "#/definitions/Metadata"
          }
        },
        "relatedImmediatePromotion" : {
          "type" : "array",
          "description" : "List of immediate promotions related to the order item\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/RelatedImmediatePromotion"
          },
          "x-dox-DesignNote" : "Reference to the *immediatePromotionRef* entity.\n"
        },
        "stock" : {
          "type" : "array",
          "description" : "List of stock items\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/StockItem"
          }
        },
        "stockReservation" : {
          "type" : "array",
          "description" : "List of stock reservations\n",
          "readOnly" : true,
          "items" : {
            "$ref" : "#/definitions/ProductStockReservationRef"
          }
        },
        "characteristic" : {
          "type" : "array",
          "description" : "Characteristics of the product offering\n",
          "items" : {
            "$ref" : "#/definitions/ProductCharacteristic"
          }
        },
        "externalIdentifier" : {
          "type" : "array",
          "description" : "List of external identifiers related to the order item\n",
          "items" : {
            "$ref" : "#/definitions/ExternalIdentifier"
          }
        },
        "note" : {
          "type" : "array",
          "description" : "Extra information about the order item\n",
          "items" : {
            "$ref" : "#/definitions/Note"
          }
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "OrderItemExtensions"
          }
        }
      },
      "description" : "An identified part of the product order. A product order is decomposed into one or more order items.\n"
    },
    "OrderPrice" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Unique identifier of the catalog price\n"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the catalog price, for example, Subscription Price\n"
        },
        "description" : {
          "type" : "string",
          "description" : "Detailed description of the catalog price of the entity (the product order or the order item)\n"
        },
        "unitOfMeasure" : {
          "type" : "string",
          "description" : "Unit of measurement of the catalog price. This property is populated if the price type is allowance, such as gigabytes, minutes, and so on.\n"
        },
        "recurringChargePeriod" : {
          "type" : "string",
          "description" : "Period for which to repeat the application of the recurring charge - days, weeks, months, or years. This property is populated only if the price type is Recurring.\n"
        },
        "recurringChargePeriodLength" : {
          "type" : "integer",
          "description" : "The period length of the recurring charge\n"
        },
        "priceType" : {
          "type" : "string",
          "description" : "Category of the catalog price, for example, allowance, recurring, and so on\n"
        },
        "@type" : {
          "type" : "string",
          "description" : "Type of the resource - *OrderPrice*\n"
        },
        "price" : {
          "$ref" : "#/definitions/Price"
        },
        "finalPrice" : {
          "$ref" : "#/definitions/Price"
        },
        "standalonePrice" : {
          "$ref" : "#/definitions/Price"
        },
        "priceAlteration" : {
          "type" : "array",
          "description" : "Price alteration records\n",
          "items" : {
            "$ref" : "#/definitions/PriceAlteration"
          }
        },
        "billingAccount" : {
          "$ref" : "#/definitions/BillingAccountRef"
        },
        "immediatePayOption" : {
          "$ref" : "#/definitions/ImmediatePayOption"
        },
        "installmentOption" : {
          "$ref" : "#/definitions/InstallmentOption"
        },
        "taxIncluded" : {
          "type" : "string",
          "description" : "Indicates whether the price is defined in CatalogONE as including tax or excluding tax. Valid values are Excluded and Included.\n"
        },
        "role" : {
          "type" : "string",
          "description" : "The role of the price, for example, price, bundle price alteration, and so on\n"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "OrderPriceExtensions"
          }
        }
      },
      "description" : "An amount, usually of money, that represents the actual price paid by the customer for the order item or the product order in CatalogONE\n"
    },
    "Price" : {
      "type" : "object",
      "properties" : {
        "taxIncludedAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "dutyFreeAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "taxAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "taxRate" : {
          "type" : "number",
          "format" : "float"
        },
        "percentage" : {
          "type" : "number",
          "format" : "float"
        },
        "priceReduction" : {
          "$ref" : "#/definitions/Money"
        },
        "priceOverride" : {
          "$ref" : "#/definitions/Money"
        },
        "priceRecordId" : {
          "type" : "string",
          "description" : "The unique identifier of the price in the pricing domain.\n"
        },
        "impactingPriceParameter" : {
          "type" : "array",
          "description" : "The parameters that impact the price\n",
          "items" : {
            "$ref" : "#/definitions/PriceParam"
          }
        },
        "appliedTax" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AppliedTax"
          }
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "PriceExtensions"
            }
          }
        }
      },
      "description" : "The price of current catalog item. It is set to null if the price record is\nmissing or if there is any exception.\n"
    },
    "Money" : {
      "type" : "object",
      "properties" : {
        "unit" : {
          "type" : "string",
          "description" : "The currency of the price\n"
        },
        "value" : {
          "type" : "number",
          "description" : "The amount of the price\n"
        }
      },
      "description" : "The price and currency of the catalog item\n"
    },
    "PriceParam" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The type of the parameter\n"
        },
        "name" : {
          "type" : "string",
          "description" : "The name of the parameter\n"
        },
        "value" : {
          "type" : "string",
          "description" : "The value of the parameter\n"
        }
      },
      "description" : "The parameters that may impact/impact the price\n"
    },
    "AppliedTax" : {
      "type" : "object",
      "required" : [ "taxAmount", "taxDefinition", "taxableAmount" ],
      "properties" : {
        "taxDefinition" : {
          "$ref" : "#/definitions/TaxDefinition"
        },
        "taxAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "taxableAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "exemptAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "periodCoverage" : {
          "$ref" : "#/definitions/TimePeriod"
        },
        "characteristic" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Characteristic"
          }
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "AppliedTaxExtensions"
            }
          }
        }
      },
      "description" : "Calculated tax response"
    },
    "TaxDefinition" : {
      "type" : "object",
      "required" : [ "exemptionType", "isExemption", "taxJurisdiction", "taxRate", "taxType", "vaidFor" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The display name of tax type"
        },
        "taxRate" : {
          "type" : "number",
          "format" : "float",
          "description" : "Rate of tax"
        },
        "taxType" : {
          "type" : "string",
          "description" : "VAT/GST etc"
        },
        "category" : {
          "type" : "string",
          "description" : "Luxury/Standard etc"
        },
        "isExemption" : {
          "type" : "boolean",
          "description" : "Where the tax definition has exemption defined on it"
        },
        "exemptionType" : {
          "type" : "string",
          "description" : "Exemption type. Valid Values - Customer, Service, Jurisdiction, None."
        },
        "vaidFor" : {
          "$ref" : "#/definitions/TimePeriod"
        },
        "taxJurisdiction" : {
          "$ref" : "#/definitions/TaxJurisdiction"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "TaxDefinitionExtensions"
            }
          }
        }
      },
      "description" : "Tax definition"
    },
    "TimePeriod" : {
      "type" : "object",
      "properties" : {
        "startDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Start date and time of the period\n"
        },
        "endDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "End date and time of the period\n"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "TimePeriodExtensions"
          }
        }
      },
      "description" : "Time period\n"
    },
    "TaxJurisdiction" : {
      "type" : "object",
      "required" : [ "level", "name" ],
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "level" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "TaxJurisdictionExtensions"
            }
          }
        }
      }
    },
    "Characteristic" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "valueType" : {
          "type" : "string",
          "description" : "Value type of the characteristic\n"
        }
      }
    },
    "PriceAlteration" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the price, for example, Subscription Price\n"
        },
        "description" : {
          "type" : "string",
          "description" : "Detailed description of the price of the entity \n"
        },
        "unitOfMeasure" : {
          "type" : "string",
          "description" : "Unit of measurement of the price. This property is populated if the price type is allowance, such as gigabytes, minutes, and so on.\n"
        },
        "recurringChargePeriod" : {
          "type" : "string",
          "description" : "Recurring charge period. This property is populated if the price type is Recurring.\n"
        },
        "recurringChargePeriodLength" : {
          "type" : "integer",
          "description" : "The period length of the recurring charge\n"
        },
        "priceType" : {
          "type" : "string",
          "description" : "Category of the price, for example, allowance, recurring, and so on\n"
        },
        "applicationDuration" : {
          "type" : "integer",
          "description" : "Duration of the price\n"
        },
        "priority" : {
          "type" : "integer",
          "description" : "Priority of the price\n"
        },
        "alterationType" : {
          "type" : "string",
          "description" : "Type of the alteration\n"
        },
        "promotionActionId" : {
          "type" : "string",
          "description" : "Unique identifier of the promotion action triggering this price alteration\n"
        },
        "immediatePromotionId" : {
          "type" : "string",
          "description" : "Unique identifier of the promotion instance\n"
        },
        "alterationProductOfferingPriceId" : {
          "type" : "string",
          "description" : "Unique identifier of the product offering price on behalf of which the price alteration was given\n"
        },
        "alterationBundleProductOfferingId" : {
          "type" : "string",
          "description" : "Unique identifier of the bundle product offering on behalf of which the price alteration was given\n"
        },
        "alterationApplyOrder" : {
          "type" : "integer",
          "description" : "Order of the alteration price appliance\n"
        },
        "@type" : {
          "type" : "string",
          "description" : "Type of the resource\n"
        },
        "chargeType" : {
          "type" : "string",
          "description" : "Charge type represented by the price alteration. The supported values are&#58;<ul><li>debit<li>discount<li>credit</ul> \n"
        },
        "price" : {
          "$ref" : "#/definitions/Price"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "PriceAlterationExtensions"
          }
        }
      },
      "description" : "An amount, usually of money, that modifies the price charged for an  item\n"
    },
    "ImmediatePayOption" : {
      "type" : "object",
      "properties" : {
        "payOption" : {
          "type" : "string",
          "description" : "The immediate pay option:\n<ul>\n<li> *MUST* - The price must be paid immediately\n<li> *MAY* - The price might be paid immediately\n</ul>\n"
        },
        "payAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "minPayAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "payImmediately" : {
          "type" : "boolean",
          "description" : "Indicates whether the prcie included in the immediate payment.\nIf the pay option is set to MUST, this indication is set to true.\nIf the pay option is set to MAY, this indication is set to either true or false based on a customer decission.\n"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "ImmediatePayOptionExtensions"
            }
          }
        }
      },
      "description" : "The payment options for the product offering price payment. The payment options can indicate whether the price must or might be paid immediatelly.\nIn addition, the payment options include an indication whether the price should be included in the immediate payment or not.\nIf the payment option is set to must, this indication is set to true. Otherwise, if the payment option is set to might, the indication is set to either\ntrue or false based on a customer decission.\n"
    },
    "InstallmentOption" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "The identifier of the installment option\n"
        },
        "installmentOption" : {
          "type" : "string",
          "description" : "Indicates if installment options are optional / mandatory for the price\n",
          "readOnly" : true
        },
        "numberOfInstallments" : {
          "type" : "integer",
          "description" : "The number of installments\n"
        },
        "downPayment" : {
          "$ref" : "#/definitions/PaymentAmount"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "InstallmentOptionExtensions"
            }
          }
        }
      },
      "description" : "Represents an installment option for an  price\n"
    },
    "PaymentAmount" : {
      "type" : "object",
      "properties" : {
        "amount" : {
          "$ref" : "#/definitions/Money"
        },
        "percentage" : {
          "type" : "number",
          "format" : "float",
          "description" : "Represents the percentage that the amount represents out of the price\n"
        },
        "taxIncludedAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "dutyFreeAmount" : {
          "$ref" : "#/definitions/Money"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { },
            "x-amdocs" : {
              "refDefinition" : "PaymentAmountExtensions"
            }
          }
        }
      },
      "description" : "Represents a payment amount\n"
    },
    "ModifyReason" : {
      "type" : "object",
      "required" : [ "action", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the modification reason\n"
        },
        "reasonText" : {
          "type" : "string",
          "description" : "Text of the modification reason. This property is populated if the type of the modification reason requires an input of a free text.\n"
        },
        "action" : {
          "type" : "string",
          "description" : "Action performed on the instance of the product offering\n"
        },
        "actionDuration" : {
          "$ref" : "#/definitions/DurationPolicy"
        },
        "extensions" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object",
            "properties" : { }
          },
          "x-amdocs" : {
            "refDefinition" : "ModifyReasonExtensions"
          }
        }
      },
      "description" : "Modification reason associated with the action performed on the product offering that is related to the order item\n"
    },
    "DurationPolicy" : {
      "type" : "object",
      "properties" : {
        "duration" : {
          "$ref" : "#/definitions/Quantity"
        },
        "startDatePolicy" : {
          "type" : "string",
          "description" : "Start date of the policy, from which the duration is calculated\n"
        },
        "endDatePolicy" : {
          "type" : "string",
          "description" : "End date of the policy, until which the duration is calculated\n"
        },
        "effectiveFor" : {
          "$ref" : "#/definitions/TimePeriod"
[...]
